include ../_mixins/article

if pagination == 2
  each post in page.posts.toArray()
    != partial('article', { post: post, index: true })

else
  if page.category
    h1= page.category
    
  section.article-list
    each post in page.posts.toArray()
      section.article-item
        a(href=url_for(post.path)).thumbnail
        a(href=url_for(post.path))= post.title
        p.article-description= post.description
          
        span.fa.fa-calendar.article-date
          small= date(post.date)
          
        span.article-comment-count.fa.fa-comments
          a(
            href=url_for(post.path)
            data-disqus-identifier=post.path
            class='disqus-comment-count'
          ) 

!= partial('article/article-page-nav')
