header(class='banner' role='banner')
  nav.main-nav
    - each nav, index in theme.navs
      if index == 'Home' 
        a(href=url_for(config.root))= index
      else 
        a(href=url_for(nav))= index

  h1.title
    a(href=config.root)= config.title

  .about-me
    img(src=url_for(theme.social.avantar))
    p.author= config.author

    ul.social-list
      li
        a.fa.fa-lg.fa-github(
          href=theme.social.github ? theme.social.github : '#'
          title='GitHub'
        )

      li
        a.fa.fa-lg.fa-weibo(
          href=theme.social.weibo ? theme.social.weibo : '#'
          title='微博'
        )
        
      li
        a.fa.fa-lg.fa-rss(
          href='#'
          title='rss'
        )

      //- li
      //-   a.fa.fa-lg.fa-shield(
      //-     href=theme.social.zhihu ? theme.social.zhihu : '#'
      //-     title='知乎'
      //-   )
      //-   
      //- li
      //-   a.fa.fa-lg.fa-code(
      //-     href=theme.social.segmentfault ? theme.social.segmentfault : '#'
      //-     title='segmentfault'
      //-   )
